@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/home/fonts/Almarai-400-arabic.woff2') format('woff2');
}
@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/home/fonts/Almarai-700-arabic.woff2') format('woff2');
}
@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/home/fonts/Almarai-800-arabic.woff2') format('woff2');
}
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/home/fonts/Cairo-900-arabic.woff2') format('woff2');
}
@font-face {
  font-family: 'Aref Ruqaa';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/home/fonts/ArefRuqaa-700-arabic.woff2') format('woff2');
}

